* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  height: 100vh;
  height: 100dvh;
}

body {
  position: relative;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("bg-snake-l.webp");
  background-image: image-set(
    "bg-snake-l.webp" type("image/webp") 1x,
    "bg-snake-xl.webp" type("image/jwebp") 2x
  );
  background-size: cover;
  background-position: 50% 25%;
  background-repeat: no-repeat;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: "Almendra SC", serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
  overflow: clip;

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    background-image: url("bg-snake-m.webp");
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    background-image: url("bg-snake-s.webp");
  }

  @media screen and (max-width: 480px) {
    background-image: url("bg-snake-xs.webp");
  }

  @media (max-width: 820px) and (orientation: portrait) and (hover: none) and (pointer: coarse) {
    justify-content: space-around;
  }

  h1 {
    color: silver;
    font-size: clamp(3rem, 2.6rem + 1.6vw, 4rem);
    letter-spacing: 2px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      3px 3px 4px #000;

    @media screen and (max-width: 1180px) and (orientation: landscape) and (hover: none) and (pointer: coarse) {
      position: absolute;
      top: 5%;
    }
    @media screen and (max-width: 999px) and (orientation: landscape) and (hover: none) and (pointer: coarse) {
      top: 1%;
      font-size: 2.6rem;
    }
    @media screen and (max-width: 890px) and (orientation: landscape) and (hover: none) and (pointer: coarse) {
      top: 1%;
      font-size: 1.4rem;
    }
    @media (max-width: 820px) and (orientation: portrait) and (hover: none) and (pointer: coarse) {
      position: absolute;
      top: 5%;
    }
         @media (max-width: 540px) and (orientation: portrait) and (hover: none) and (pointer: coarse) {
          position: static;
         }
  }

  .controls {
    display: none;

    @media screen and (max-width: 1180px) and (orientation: landscape) and (hover: none) and (pointer: coarse) {
      position: absolute;
      display: flex;
      width: 100%;
      justify-content: space-between;

      .left-control,
      .right-control {
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-around;
        height: 7.5rem;
        width: 7.5rem;
        padding: 1rem;
        margin: 2rem;
        border-radius: 50%;
        backdrop-filter: blur(2px);
        transform: rotate(45deg);
        background: radial-gradient(
          circle,
          rgba(0, 0, 0, 0) 0%,
          rgba(253, 198, 0, 1) 36%,
          rgba(255, 139, 0, 1) 50%,
          rgba(255, 0, 0, 1) 75%,
          rgba(255, 0, 0, 0) 90%
        );

        .fa-solid {
          font-size: 3.3rem;
          transform: rotate(-45deg);
          color: black;
          border-radius: 50%;
        }

        @media screen and (max-width: 730px) and (orientation: landscape) and (hover: none) and (pointer: coarse) {
          margin: 1rem;
        }
      }
    }
    @media (max-width: 820px) and (orientation: portrait) and (hover: none) and (pointer: coarse) {
      position: absolute;
      display: flex;
      width: 100%;
      justify-content: center;
      bottom: 0;

      .left-control,
      .right-control {
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-around;
        height: 7.5rem;
        width: 7.5rem;
        padding: 1rem;
        margin: 2rem;
        border-radius: 50%;
        backdrop-filter: blur(2px);
        transform: rotate(45deg);
        background: radial-gradient(
          circle,
          rgba(0, 0, 0, 0) 0%,
          rgba(253, 198, 0, 1) 36%,
          rgba(255, 139, 0, 1) 50%,
          rgba(255, 0, 0, 1) 75%,
          rgba(255, 0, 0, 0) 90%
        );

        .fa-solid {
          font-size: 3.3rem;
          transform: rotate(-45deg);
          color: black;
          border-radius: 50%;
        }
      }
      .left-control {
        display: none;
      }
    }
         @media (max-width: 520px) and (orientation: portrait) and (hover: none) and (pointer: coarse) {
          position: static;
          order: 3;
        }
  }

  .keyboard-img {
    width: 250px;
    height: 50px;
    order: 3;
    background-image: url("arrow-keys.png"),
      linear-gradient(
        90deg,
        rgba(224, 224, 224, 0) 0%,
        rgba(219, 219, 219, 1) 50%,
        rgba(0, 212, 255, 0) 100%
      );
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (max-width: 1180px) and (hover: none) and (pointer: coarse) {
      display: none;
    }
  }

  // .right-control {
  //   display: none;
  // }
}
